.menu-btn {
    position: static;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    float: right;
}
header {
    position: static;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 50px;
}

/*<header>
    <h1 style="display: inline;">on0z</h1>
    <div class="menu-btn">
        <a href="../menu.html">MENU</a>
    </div>
</header>*/